.registration-page {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
}
.back-to-login {
  position: absolute;
  top: 2rem;
  right: 4rem;
}
.user-registration-heading {
  margin-bottom: 2rem;
}
